<app-nav></app-nav>
<div class="container">
  <h1 style="text-align: center;">Usuarios Registrados</h1>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Telefono</th>
        <th scope="col">Dirección</th>
        <th scope="col">Correo</th>
        <th scope="col">Foto</th>
        <th scope="col">Rol</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of persona | paginate: { itemsPerPage: 5, currentPage: reg }">
        <td>{{i.idPersona}}</td>
        <td>{{i.nombres}}</td>
        <td>{{i.apellidos}}</td>
        <td>{{i.telefono}}</td>
        <td>{{i.direccion}}</td>
        <td>{{i.correo}}</td>
        <td *ngIf="i.foto != 'nada' && i.foto != null"><img src="http://localhost:8080/persona/{{i.idPersona}}" style="width: 50px; height: 50px;"></td>
        <td *ngIf="i.foto == 'nada' || i.foto == null">No hay Foto</td>
        <td>{{i.rolIdRol.nombre}}</td>     
        <td><img src="../assets/editar.png" style="cursor: pointer;" (click)="editarPersona(i)" />
          <img src="../assets/borrar.png" style="cursor: pointer;" (click)="eliminarPersona(i)" />
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="reg = $event" 
    previousLabel = "Anterior"
    nextLabel = "Siguiente">
  </pagination-controls>
  
  <a class="btn btn-info" routerLink="/crear-persona">Crear</a>&nbsp;
</div>