<div class="container">
  <div class="row">
    <div class="offset-4 col-md-4">
        <div class="card-header card border-success">
        	<h1 style="text-align: center;">Login&nbsp;<i class="fas fa-users"></i></h1>
        	<hr/>
          <label>Usuario</label>
          <input type="text" class="form-control" />
          <br/>
          <label>Contraseña</label>
          <input type="password" class="form-control" />
          <a class="btn btn-primary btn-block margenButton" routerLink="/persona">Ingresar</a>
          <a class="btn btn-danger btn-block margenButton">Cancelar</a>
        </div>
    </div>
  </div>
</div>
